# Configurações do Supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Configurações do Stripe
STRIPE_SECRET_KEY=
VITE_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

# Configurações da API Gemini
GEMINI_API_KEY=

# URL da Aplicação
APP_URL=
